ion-input{ 
    
    border: solid;
    border-color: #791919 !important;
    background: #ffffff !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #c5c5c5 !important;
    box-shadow: 5px !important;
    border-radius: 5px ;
    margin: 9px;
    margin-left: 2px;
   
}