<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
  <style>
  </style>
</ion-header>
<ion-content>
    <ion-row>
      <ion-col size="12" size-md>
        <!--
        <ion-item>
          <ion-input placeholder="&nbsp;nome">&nbsp;</ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="&nbsp;sobrenome">&nbsp;</ion-input>
        </ion-item> 
        -->
        <ion-item>
          <ion-input  placeholder="&nbsp;E-mail" [(ngModel)]="email">&nbsp;</ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="&nbsp;Senha" [(ngModel)]="pws" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="&nbsp;Confirmar senha" [(ngModel)]="pws2" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input maxlength="8" placeholder="&nbsp;CEP" [(ngModel)]="cep" (keyup)="getEndereco()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input>&nbsp;{{endereco.logradouro}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-input>&nbsp;N°:</ion-input>
          </ion-item>
          <ion-item>
            <ion-input>&nbsp;{{endereco.bairro}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input>&nbsp;{{endereco.localidade}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input>&nbsp;{{endereco.uf}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input maxlength="11" placeholder="Telefone">&nbsp;</ion-input>
          </ion-item>
          <ion-button color="danger" expand="block" shape="round" type="submit" padding>
            Cadastrar
          </ion-button>
      </ion-col>
    </ion-row>
</ion-content>