<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Sobre este app!
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row class="ion-align-self-center">
    <ion-col class="ion-justify-content-center">
    <!--<ion-img src="https://thumbs.gfycat.com/PrestigiousDependentAnnashummingbird-size_restricted.gif"></ion-img>-->
    <ion-img class="img" src="https://media.tenor.com/images/ae6e7011c5de7cfe4168b2e6c7000c85/tenor.gif"></ion-img>
    <ion-text><h1 class="dull">Desenvolvedores</h1></ion-text>
    <ion-item><ion-icon size="large" name="code-working"></ion-icon><ion-text> &nbsp;João Fernando</ion-text></ion-item>
    <ion-item><ion-icon size="large" name="code-working"></ion-icon><ion-text> &nbsp;Caio Brandão</ion-text></ion-item>
    <ion-item><ion-icon size="large" name="code-working"></ion-icon><ion-text> &nbsp;Alexandre Vitorino</ion-text></ion-item>
    <ion-item><ion-icon size="large" name="code-working"></ion-icon><ion-text> &nbsp;Alessandro Nunes</ion-text></ion-item>
    <ion-item><ion-icon size="large" name="code-working"></ion-icon><ion-text> &nbsp;Luís Gustavo</ion-text></ion-item>
    </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
