<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-row>
    <ion-col size="12" size-md>
      <ion-item class="arre">
        <ion-icon class="fundowhite" name="cash"></ion-icon>
        <ion-label class="fundowhite"> &nbsp; Forma de Pagamento</ion-label>
        <ion-select class="fundowhite" placeholder="selecione">
          <ion-select-option>Boleto</ion-select-option>
          <ion-select-option >Cartão de crédito</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
   </ion-row>

</ion-content>