.arre {
    background: #ffffff !important;
    border: 2px solid !important;
    border-color: #851616 !important;
    box-shadow: none !important;
    border-radius: 30px !important;
    //padding: 2px;
    margin: 5px;
  }