#caixinha{
    text-align: center;
}
#botaologar{
    color: red;
}
#basket{
    height: 27%;
}
#googleico{
    height: 50px;
    width: 50px;
}
#google{
    height: 67px;
    width: 99%;
}
#ou{
    padding: 37%;
}
