#caixinha{
    border-color: #791919 !important;
}
#botaologar{
    color: red;
}
#basket{
    height: 27%;
}
#googleico{
    height: 50px;
    width: 50px;
}
#google{
    height: 67px;
    width: 99%;
}
#ou{
    padding: 37%;
}
ion-item{
    --highlight-color-valid: #ffffff;
    --highlight-color-invalid:#ffffff;
    --highlight-color-focused:#ffffff;
}
ion-input{ 
    // border: solid;
  //  border-color: #791919 !important;
    background: #ffffff !important;
    border: solid !important;
    border-width: 0px 0px 2px 2px !important;
    border-color: #851616 !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    //padding: 2px;
    margin: 5px; 
}