.imgprod{
    width: 100%;
    height: 100%;
}


.nomeprod{
    font-weight: bold !important;
    font-size:150%;
    
}
.war{
  position: fixed;
  bottom: 4%;
  left: 0%;
  // height: 100%;
  width: 100%;
  z-index: 0;
}