.mymenu {
    //--width: 500px;
    
  }

  
:root {
    --ion-toolbar-background: #851616;
    --ion-background-color:#ffffff;
    --ion-item-border-color: #ffffff;

  }

  
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    --highlight-color-focused: #6a4ac3;
  } 
  
ion-toolbar{
    --ion-text-color:  #ffffff;
    --color: #ffffff;
    box-shadow: 0px 0px 0px rgb(255, 255, 255) !important;
    border-color: #ffffff;
  }

ion-card{
    background: #ffffff !important;
    border: 5px solid !important;
    border-color: #ffffff !important;
    box-shadow: 0px 0px 2px rgb(65, 65, 65) !important;
    border-radius: 4% !important;
}

  