
.containerex {
    position: relative;
    overflow: hidden;
    //border: 5px solid !important;
    //border-color: #0c0074 !important;
  
    //display: inline-block;
  }
  .image  {
    background-image: linear-gradient(#9c0707, rgba(24, 24, 24, 0.692)), url("http://supermercadorr.com.br/wp-content/uploads/2016/12/Hiper-super-ou-mercado.jpg") !important;
    //position: absolute;
    z-index: 1;
    height: 18%;
    padding: 2%;
    //border: 5px solid !important;
    //border-color: #0c0074 !important;

  }
  .texto {
  
   // position: relative;
    
    font-size: 16px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: left;
    z-index: 3;
  
    //display: flex;
    justify-content: center;
    align-items: center;
  
    
    //bottom: 100%;
   
    
   // overflow: hidden;
  }
  
.arre {
    background: #ffffff !important;
    border: 2px solid !important;
    border-color: #851616 !important;
    box-shadow: none !important;
    border-radius: 30px !important;
    //padding: 2px;
    margin: 5px;
  }

.fundowhiste{
    background: #867373 !important;
}
ion-item{
  border-color: #ffffff;
}

.war{
  position: fixed;
  bottom: 2%;
  left: 1%;
  //height: 100px;
  z-index: 0;
}
.preco{
  font-weight: bold;
}

.card{
    border: 2px solid !important;
    border-color: #8516163a !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    padding: 5px;
    margin: 2px;
}
.cartt{
  padding: 5px;
  margin: 2px;
}

  